.App {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* center children vertically */
}

.logo {
  max-width: 70%; /* make sure it doesn't overflow its container */
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center; /* center children horizontally */
  text-align: center; /* center text of direct children */
  max-width: 1000px; /* or whatever maximum width you prefer */
  width: 100%;
  margin: 0 auto; /* this will center the section horizontally if its width is less than its parent's width */
  padding: 20px; /* add some spacing around */
}

.home > h1 {
  text-align: center;
}
.home > h2,
textarea::placeholder {
  width: 100%;
  max-width: 435px;
  height: 40px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

textarea {
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: var(
    --crystalbg,
    linear-gradient(
      140deg,
      rgba(254, 254, 254, 0.04) 0%,
      rgba(249, 250, 255, 0.14) 100%
    )
  );
  backdrop-filter: blur(5px);
  width: 100%;
  max-width: 426px;
  color: white;
  padding-top: 2%;
  padding-bottom: 1%;
  padding-left: 5%;
  padding-right: 5%;
  flex-shrink: 0;
  font-family: Raleway; /* Added this from the ::placeholder to ensure consistent font */
}

textarea::placeholder {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}

.btn {
  border-radius: 25px;
  border: 5px solid #ff579f;
  background: #ff579f;
  width: 100%;
  max-width: 426px;
  height: 44px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Luckiest Guy;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 2%;
  margin-bottom: 2%;
}

.pitches {
  display: flex;
  justify-content: center;
  align-items: center;
}

.english {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  margin-right: 2%;
  border: 1px solid white;
  border-radius: 25px;
  padding: 1%;
}

.espanol {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  margin-left: 2%;
  border: 1px solid white;
  border-radius: 25px;
  padding: 1%;
}

.espanol:hover {
  font-weight: 900;
}

.english:hover {
  font-weight: 900;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.moka-section {
  justify-content: center;
}

/* Example for screens less than 768px wide */
@media (max-width: 768px) {
  .home > h2 {
    font-size: 18px;
  }

  .btn {
    font-size: 28px;
  }
}

.twitter {
  font-size: 35px;
  color: #fff;
  margin-right: 5%;
}

.twitter:hover {
  color: #00acee;
}

/* Mobile-first styles */
.pitch-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem; /* Added padding for better spacing */
}

.pitch-section > h1 {
  border-radius: 25px;
  border: 5px solid #ff579f;
  background: #ff579f;
  width: 100%;
  max-width: 80%; /* Adjusted max-width for responsiveness */
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: "Luckiest Guy";
  font-size: 24px; /* Slightly reduced font size for better fit */
  font-weight: 400;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-top: 1%;
}

.pitch-section > p {
  font-family: "Raleway", sans-serif;
  line-height: 1.6;
  padding: 1rem; /* Adjusted padding for better spacing */
  font-size: 16px; /* Reduced font size for mobile devices */
  font-weight: 900;
  max-width: 100%; /* Full width for mobile devices */
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

@media screen and (min-width: 769px) {
  /* Media query for larger screens */
  .pitch-section > h1 {
    font-size: 36px; /* Reset font size for larger screens */
    max-width: 426px;
  }

  .pitch-section > p {
    font-size: 18px; /* Reset font size for larger screens */
  }
}
